language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.0
- 2.1
- 2.2
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake quick
- gem build sensu-plugins-twitter.gemspec
- gem install sensu-plugins-twitter-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: A1DUEGvsXOQ8Sr/aXeo6Wruf+jn/SCpPjZf1exgz5996hBwgve4LiM1oAhd31QxfhJeTMIBf49P4bxQEPyBllVJugm1SdBuOP7nFAnO+8Rp1pqC/o81hfMrxamQWK8BxjG1nycxMQTMWzXOMiTcXJCUvPmf1IifwFEg2D+ftCtM=
  gem: sensu-plugins-twitter
  on:
    tags: true
    all_branches: true
    rmv: 2.3.0
    rvm: 2.4.1
    rvm: 2.5.1
    repo: sensu-plugins/sensu-plugins-twitter
